.hero-header {
  /* outline: dashed red; */
  background-image: linear-gradient(
      to right,
      rgba(43, 45, 66),
      rgba(136, 145, 183, 0.3)
    ),
    url('../../public/banner.jpg');
  height: 250px;
  width: 100%;
  background-size: cover;
  margin-bottom: 32px;
  color: #FEF4E4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 64px;
  font-size: 20px;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
}

.header-text {
  position: absolute;
  top: 20%;
  transform: translate(-50%), -50%;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  70% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    translate: (0);
  } 
}
