.profile-section {
  background-color: transparent;
  color: #FEF4E4;
  margin: 32px;
  padding: 16px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-left: 2px solid #fef4e4;
  border-image: linear-gradient(to bottom, #fd5b35, #ffbb4c) 1;
}

