@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Montserrat:wght@100;500&display=swap');
.switch {
  margin: 1rem;
  position: sticky;
  height: 1.5rem;
  width: 3rem;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 9999px;
  background-color: rgba(100, 116, 139, 0.377);
  transition: all 0.3s ease;
}

.switch:checked {
  background-color: #FFBB4C;
}
.switch::before {
  position: absolute;
  content: '';
  left: calc(1.5rem - 1.6rem);
  top: calc(1.5rem - 1.6rem);
  display: block;
  height: 1.6rem;
  width: 1.6rem;
  cursor: pointer;
  border: 1px solid rgba(100, 116, 139, 0.527);
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
  transition: all 0.3s ease;
}
.switch:hover::before {
  box-shadow: 0 0 0px 8px rgba(0, 0, 0, 0.15);
}
.switch:checked:hover::before {
  box-shadow: 0 0 0px 8px rgba(77, 175, 80, 0.15);
}
.switch:checked:before {
  transform: translateX(100%);
  border-color: #FFBB4C;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  border-radius: 6px;
  padding-top: 1.6rem ;
  margin-top: 4rem;
  border-left: 2px solid #fef4e4;
  border-image: linear-gradient(to bottom, #fd5b35, #FFBE0B) 1;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-image-slice: 0 0 1 1;
  border-image-width: 2px;
  animation: moveBorder 4s linear infinite;
}
  
@keyframes moveBorder {
  0% {
    border-image-source: linear-gradient(to right, #fd5b35, #FFBE0B);
  }
  25% {
    border-image-source: linear-gradient(to top, #fd5b35, #FFBE0B);
  }
  50% {
    border-image-source: linear-gradient(to left, #fd5b35, #FFBE0B);
  }
  75% {
    border-image-source: linear-gradient(to bottom, #fd5b35, #FFBE0B);
  }
  100% {
    border-image-source: linear-gradient(to right, #fd5b35, #FFBE0B);
  }
}


.form__div-title {
  display: flex;
}

.form__title {
  margin: 1rem 1rem;
  font-family: 'Lato', sans-serif;
  color: #FEF4E4;
  font-weight: 100;
}

.form__seat-wrap {
  display: flex;
  align-items: center;
}

.form__seats-title {
  display: flex;
  justify-content: left;
  color: #FEF4E4;
  margin-left: 16px;
  font-family: 'Lato', sans-serif;
}

input[type='text'] {

  font-family: 'Lato', sans-serif;
  font-weight: 100;
  display: block;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  padding: 8px;
  width: 500px;
  margin: 0.5rem;
  border: 1px solid #d9d9d9;
}
input:focus {
  outline: none;
  border-color: #FFBE0B;
  box-shadow: 0 0 3px #FFBE0B;
  -moz-box-shadow: 0 0 3px #FFBE0B;
  -webkit-box-shadow: 0 0 3px #FFBE0B;
}
input[type='date'] {
  display: block;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  font-family: 'Lato', sans-serif;
  padding: 8px;
  width: 500px;
  margin: 0.5rem;
}
input[type='number'] {
  display: block;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  font-family: 'Lato', sans-serif;
  padding: 8px;
  width: 500px;
  margin: 0.5rem;
}
textarea {
  margin: 0.5rem;
  resize: none;
  display: block;
  width: 500px;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
  font-family: 'Lato', sans-serif;
}
textarea:focus{
  outline: none;
  border-color: #fd5b35;
  box-shadow: 0 0 3px #ffbb4c;
  -moz-box-shadow: 0 0 3px #fd5b35;
  -webkit-box-shadow: 0 0 3px #fd5b35;
}
.submit-button {
  align-self: center;
  justify-self: center;
  width: 500px;
  margin: 1rem .5rem;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  position: relative;
  transition: all 0.2s;
  color: #1F1F20;
  border: none;
  background-color: #FEF4E4;
}

.submit-button:hover {
  transform: translateY(-2px);
  color: #FEF4E4;
  box-shadow: o 1rem 2rem 1rem rgba(0, 0, 0, 0.2);
}
.submit-button:active {
  transform: translateY(-3px);
  box-shadow: o 1rem 2rem rgba(0, 0, 0, 0.2);
}

