@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat:wght@100;500&display=swap');

span {
  color: #ffbb4c;
}

.info-card {
  font-weight: 300;
  background: rgba(31, 31, 32, .6);
  color: #fef4e4;
  margin: 32px 8px 0 8px;
  padding: 12px;
  border-radius: 6px;
  width: 400px;
  transition: 0.2s;
  min-height: 300px;
}

.info-card:hover {
  transform: scale(0.98);
  border-radius: 12px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.06);
  transition: 0.2s;
}

.card__extra-info {
  background-color: #373737;
  margin-top: 1rem;
  padding: .4rem;
}

.content {
  padding: 10px;
}

h2 {
  display: flex;
  justify-content: right;
  margin-top: 10px;
}

.info p {
  margin-bottom: 5px;
}

.frequency {
  color: #ffbb4c;
  font-size: 14px;
  text-transform: capitalize;
}

.card__destination {
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid #fef4e4;
  border-left: 2px solid #fef4e4;
  border-image: linear-gradient(to right, #fd5b35, #ffbb4c) 1;
  background-color: #373737;
  padding: 4px;
  border-radius: 6px;
  margin-bottom: 8px;
}

.card-button {
  display: flex;
  justify-content: right;
}

.btn {
  width: 100px;
  margin: 0.8rem;
  padding: 0.5rem 0;
  border: none;
  border-radius: 5px;
  background-color: #fd5b35;
  color: #fef4e4;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.full-ride {
  color: #fd5b35;
}

.cards__passengers {
  display: flex;
  justify-content: right;
  margin-top: 4px;
  margin-right: 8px;
}

.cards__passengers__unit {
  display: flex;
  justify-content: right;
  margin-top: 4px;
  gap: 8px;
}

.card__date {
  font-size: .8rem;
  display: flex;
  justify-content: right;
  margin-top: 0px;
}
