@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: dashed red; */
}

html, body {
  padding: 0;
  margin: 0;
}

button {
  font-size: 10px;
  border-radius: 4px;
  font-weight: 200;
  height: 32px;
  margin: 8px;
}

.button{
  background-color: #d9edb9;
}

img {
  height: 64px;
  width: 64px;
  border-radius: 99px;
  margin: 8px;
}

input,
label,
textarea {
  margin: 4px;
}

.navbar {
  height: 80px;
  display: flex;
  position: fixed;
  width: 100vw;
  top: 0px;
  background-color: #7B2CBF;
  justify-content: right;
}

.navbar__info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-main {
  margin-top: 80px;
}

.profile-btn {
  padding: 4px;
  background: #d9edb9;
  color: black;
}

.profile-btn--selected {
  padding: 4px;
  background-color: #7B2CBF;
  color: white;
}

.create-route {
  margin: 16px;
}

.create-route__route-form {
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 233, 233);
  width: 50%;
  padding: 8px;
}

.route-card {
  font-size: 12px;
  background-color: #d9edb9;
  padding: 8px;
  margin: 16px;
  margin-top: 32px;
  border-radius: 16px;
  max-width: 700px;
  box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
    0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
    0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.--acceptedPax {
  background-color: rgb(84, 133, 0);
  color: white;
}