@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat:wght@100;500&display=swap');
/*
#FEF4E4 (PINK)
#FFBB4C (YELLOW)
#D9D9D9 (GRAY)
#FD5B35 (ORANGE)
#1F1F20 (BLACK)
#2B2D42 (BACKGROUND BLUE)
*/

* {
  font-family: 'Lato', sans-serif;
  /* outline: dashed red .5px; */
}

html, body {
  background-color: #2b2d42;
  color: #1f1f20;
  box-sizing: border-box;
  padding: 34px 0px;
}

button,
.standard-button {
  font-weight: 300;
  font-size: 14px;
  color: #FFBE0B;
  border: .5px solid #FFBE0B;
  background-color: #2B2D42;
  padding: 4px 4px;
  margin: 0 4px;
  min-width: 80px;
  border-radius: 6px;
}

button:hover,
.standard-button:hover {
  background-color: #FFBE0B;
  color: #1f1f20;
  text-align: center;
  transition: 0.4s;
}

.standard-button--selected {
  background-color: #FFBE0B;
  color: #1f1f20;
}

.landing-page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-page-main__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.public-cards {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
}

.landing-page-nav {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: rgba(31, 31, 32, .8);
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  padding: 0px 16px;
  z-index: 1000;
}

.landing-page-nav__contents {
  display: flex;
  align-items: center;
}

.landing-page-nav__contents button {
  margin: 0 8px;
}

/* img, */
.logo-image,
.profile-image {
  height: 32px;
  width: 32px;
  border-radius: 100px;
  margin: 0 0 0 8px;
}

.total-pax {
  position: absolute;
  top: 90px;
  right: 16px;
  background-color: #1f1f20;
  color: #FFBE0B;
  font-size: 1rem;
  border-radius: 200px;
  padding: 8px;
  opacity: .6;
}

.react-link {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.profile-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-authorized-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-left: 2px solid #fef4e4;
  border-image: linear-gradient(to right, #fd5b35, #ffbb4c) 1;
  height: 200px;
  width: 400px;
  margin: auto;
  margin-top: 120px;
  color: #fef4e4;
}

.signin {
  background-color: black;
}

.landing-page__search-area {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  color: #FFBE0B;
  border: none;
  padding: 4px 4px;
  margin: 0 4px 32px;
  min-width: 80px;
  border-radius: 6px;
  justify-content: center;
}

.landing-page__search-area #landing-page__search-input {
  margin: 0;
}

.profile-header {
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FEF4E4;
  font-size: 20px;
  margin: 32px 0;
}

.welcome-profile-image {
  margin-bottom: 8px;
  width: 100px;
  height: 100px;
}
