@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: dashed red; */
}

html, body {
  padding: 0;
  margin: 0;
}

button {
  font-weight: lighter;
  height: 32px;
  margin: 8px;
}

.button{
  background-color: #d9edb9;
}

img {
  height: 64px;
  width: 64px;
  border-radius: 99px;
  margin: 8px;
}

input,
label,
textarea {
  margin: 4px;
}

.navbar {
  height: 80px;
  display: flex;
  position: fixed;
  width: 100vw;
  top: 0px;
  background-color: #7B2CBF;
  justify-content: right;
}

.navbar__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.profile-main {
  margin-top: 80px;
}

.profile-btn {
  padding: 4px;
  background: #d9edb9;
  color: black;
}

.profile-btn--selected {
  padding: 4px;
  background-color: #7B2CBF;
  color: white;
}

.create-route {
  margin: 16px;
}

.create-route__route-form {
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 233, 233);
  width: 50%;
  padding: 8px;
}