@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

/*
font-family: 'Baskervville', serif;

#FEF4E4 (PINK)
#FFBB4C (YELLOW)
#D9D9D9 (GRAY)
#FD5B35 (ORANGE)
#1F1F20 (BLACK)
*/

* {
  font-family: 'Lato', sans-serif;
  /* outline: dashed red .5px; */
}

html, body {
  background-color: #FEF4E4;
  color: #1f1f20;
  box-sizing: border-box;
  padding: 50px 8px;
}

.info-card {
  background: linear-gradient(to bottom, #1F1F20, #4f5252);  color: #FEF4E4;
  margin: 32px 8px 0 8px;
  padding: 12px;
  border-radius: 6px;
  width: 340px;
  min-height: 360px;
}

button,
.standard-button {
  font-size: 16px;
  color: #1f1f20;
  background-color: #fef4e4;
  padding: 4px 4px;
  margin: 0 4px;
  font-weight: lighter;
  min-width: 80px;
  border-radius: 6px;
}

button:hover,
.standard-button:hover {
  background-color: #FD5B35;
  color: #fef4e4;
  text-align: center;
  transition: 0.4s;
}

.standard-button--selected {
  background-color: #FD5B35;
  color: white;
}

.landing-page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-page-main__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.public-cards {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.landing-page-nav {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: rgba(31, 31, 32, .8);
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  padding: 0px 16px;
  z-index: 1000;
}

.landing-page-nav__contents {
  display: flex;
  align-items: center;
}

.landing-page-nav__contents button {
  margin: 0 8px;
}

img,
.logo-image,
.profile-image {
  height: 32px;
  width: 32px;
  border-radius: 100px;
  margin: 0 0 0 8px;
}

.total-pax {
  position: absolute;
  top: 90px;
  right: 16px;
  /* background-color: #FD5B35; */
  color: #FD5B35;
  font-size: 1.4rem
}

.react-link {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.profile-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
